#title {
  background-color: white;
  color: #008baf;
  }

#features {
  padding: 7% 15%;
  background-color: #F9F9F9;
  position: relative;
  z-index: 1;
  }

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color:  #053742;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
  color: #008baf
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Contact Buttons */

.contact-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 400px;
  position: absolute;
  right: 16%;
}

/* Features */

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #39A2DB;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #053742;
}

/* Testimonial section */

#testimonials {
  background-color: white;
  color: #053742;
  text-align: center;

}


.carousel-item {
  padding: 7% 15%;

}


/* Pricing section */

#pricing {
  padding: 100px;
  text-align: center;
  background-color: #E8F0F2;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

}

#footer {
  color: red;
}
